doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

    unless development
      link(href=`main${hash}.css`, rel='stylesheet', type="text/css")
  body


    div.site-loader
      div.site-loader__content
        //- div.site-loader__spinner
          svg#waves(
            version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='2132px', height='588px', viewbox='0 0 2132 588', enable-background='new 0 0 2132 588', xml:space='preserve', style='')
            path.CVfepsrl_0(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.312,227.833\
            c0,0,101.738-12.209,129.436-14.263s109.466-5.239,117.882-6.566S360.784,179.359,401.833,180s72.966,4.077,115.167,17.667\
            s114,52.833,149.667,75.167s65.522,42.187,98.833,51.18s81.33,12.91,126.167,4.153s102.162-25.73,141.722-45.007\
            s104.771-47.485,138.881-57.66s76.513-16.722,111.538-19.611s66.094,4.782,93.016,18.315s60.835,28.354,128.339,32.075\
            s123.248-7.691,161.011-16.774s98.776-26.475,152.827-35.838s128.397-16.184,170.666-8.167s68.495,21.188,93.501,24\
            s48.825,1.167,48.825,1.167')
            path.CVfepsrl_1(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M252.5,125.833')
            path.CVfepsrl_2(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.312,254.5c0,0,105.058-16.004,138.057-19.407\
            s133.688-10.756,155.387-15.101S392.25,193.25,463.75,207s126.723,34.601,158.942,59.245s98.268,65.284,139.058,74.456\
            s112.154,12.773,173.75-8.222s183.625-76.005,227.562-89.367s111.818-24.45,158.753-14.906s52.382,37.876,156.658,44.21\
            s138.716-6.32,234.871-28.368S1901.032,220.311,1935.25,223s91,16.854,113.25,24.052s83.504,2.448,83.504,2.448')
            path.CVfepsrl_3(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.325,281c0,0,99.406-18.488,133.271-23.121\
            s112.67-12.381,139.754-14.167s96.305-19.306,142.796-18.207s92.272,9.43,142.122,30.566s92.454,49.812,115.472,63.128\
            s76.127,44.206,152.643,43.754s133.565-24.044,167.016-37.64s99.199-43.812,137.75-55.963s110.254-33.036,164.252-25.068\
            s50.006,26.428,102.782,35.203c58.424,10.822,116.162,15.822,142.966,14.515c26.804-1.306,120.056-19.901,150-25.991\
            s124.73-16.235,163.861-16.526s96.382,4.593,136.347,15.661s73.566,14.214,98.033,12.749s47.009-4.139,47.009-4.139')
            path.CVfepsrl_4(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-2.25,307.728c0,0,55.36-12.825,69.677-15.604\
            C81.744,289.344,200.375,270,219.5,267.125s95.857-8.582,121.75-10.637s82.083-8.352,106.875-6.863S533.942,265.487,562,278.563\
            s96.344,56.872,112.699,66.688S744.625,375,777.25,377.375s68.507,2.202,101.125-4.25s93.246-27.749,122.125-39.308\
            s84.616-35.179,120.016-46.754c35.399-11.576,80.91-21.556,113.614-25.227s65.607,4.382,77.865,9.592s40.29,19.418,71.604,25.11\
            s75.215,11.921,110.976,13.962s79.48-2.563,108.181-7.499s102.393-19.727,143.899-21.693s92.788-4.243,129.024-1.458\
            s77.339,12.411,106.339,20.063s70.44,11.427,92.483,10.586s60.249-6.833,60.249-6.833')
            path.CVfepsrl_5(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.325,333.817c0,0,50.331-11.96,75.442-17.639\
            s127.874-26.139,143.997-28.861s84.053-11.985,123.553-14.151s95.893-4.73,127.667,0.667s102.461,28.067,140.957,52.904\
            s70.707,45.847,103.209,54.881s85.538,16.79,125.167,11.382s99.008-21.398,139.703-37.826s90.022-37.342,120.631-47.446\
            s82.781-23.226,120.474-27.227s58.751,3.042,96.839,17.053s82.132,21.392,114.25,24.918s77.062,7.16,95.104,6.528\
            s97.834-13.334,119.167-16.167s107.675-10.146,151.831-8.249s104.915,8.627,137.778,16.827s67.346,16.69,98.558,17.922\
            s62.419-2.35,77.333-4.188s23.667-4.312,23.667-4.312')
            path.CVfepsrl_6(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.325,361.186c0,0,65.84-17.456,103.516-28.105\
            s129.559-31.527,179.059-37.804s137.115-5.657,176.832-1.07s91.995,20.338,139.264,47.843S692.5,403.146,756,408.573\
            s120.785-7.29,164.304-21.662s141.377-53.027,166.666-62.006s104.292-28.058,153.786-25.981s50.338,17.863,82.4,23.935\
            s138.101,22.602,174.361,22.625s127.725-14.334,166.982-15.983s155.605,1.191,203.717,9.934s100.29,26.28,138.283,28.384\
            s95.75-1.067,130-10.067')
            path.CVfepsrl_7(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.325,385.938\
            c0,0,116.612-33.629,136.982-39.106s109.72-32.055,164.656-34.027s144.417-0.78,194.927,9.958S632.5,384.949,661,399.475\
            s101.873,31.189,156.562,25.107s129.285-35.401,164.475-48.647s111.831-39.554,155.147-49.494s78.501-12.279,104.652-6.093\
            s71.275,23.928,119.845,27.165s116.262,18.443,157.569,15.002s134.805-14.487,180.642-12.209s120.841,9.295,157.779,17.516\
            s88.326,21.619,122.079,26.966s88.59,1.186,113.921-3.044s38.329-7.146,38.329-7.146')
            path.CVfepsrl_8(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-62.25,436.5c0,0,161.668-54.188,188.949-62.862\
            s115.217-42.292,182.007-45.873s145.26,0.729,203.294,20.206s100.052,45.836,126.276,61.933S742.75,450.75,825.5,436.5\
            s200.738-64.995,224.184-71.961s103.454-29.299,138.548-28.099s48.393,4.62,90.83,16.965s196.953,22.594,218.942,22.46\
            s120.007-7.018,159.986-4.893s146.435,10.539,194.009,24.637s89.555,25.591,138.296,27.288s110.204-2.597,148.954-11.872')
            path.CVfepsrl_9(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-5.833,440.759\
            c0,0,101.156-33.237,135.333-43.821s124.459-46.263,180.232-51.246s131.435-2.499,202.435,19.321s87.104,57.174,143.218,74.497\
            s111.111,24.642,204.78,1.649c44.756-11.066,135.972-46.629,178.932-59.541s98.373-24.44,133.055-25.946s47.993,8.671,86.007,14.219\
            s97.763,8.817,137.029,12.851s139.013,6.129,186.326,6.627s110.869,5.488,156.514,12.382s117.738,22.637,145.358,28.789\
            s73.834,17.401,124.141,17.84s110.647-7.545,124.478-9.212')
            path.CVfepsrl_10(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-6.5,466.946c0,0,62.875-19.8,77.625-24.998\
            s96.25-34.073,118.25-41.573s89.375-27.363,122.25-31.432s97.099-6.372,124.887-0.771s66.358,13.744,93.19,26.614\
            s56.819,37.214,82.453,49.654S669.5,465.701,697,468.226s78.453,5.123,105.75,0s111.58-30.796,132.28-37.976\
            s92.022-31.644,130.97-40.5s80.211-17.255,111.75-13.5s70.805,14.376,111.269,14.913s134.856,9.019,159.356,10.462\
            s108.891-0.672,134.269,1.032s106.231,12.44,127.106,16.017s131.5,25.576,158.375,32.451s92.248,21.206,130.75,22.375\
            s93.008-2,133.129-7.75')
            path.CVfepsrl_11(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-3.25,491.43c0,0,110.505-35.715,147.5-50.671\
            s125.755-46.271,181-50.509s127.529,0.9,158.335,11.95s51.995,18.714,83.982,41.699S641.5,482.75,698.25,486.5\
            s106.17-2.666,169.435-21.908s154.182-53.057,216.368-62.317s67.812-9.622,112.505-1.073s118.172,8.143,156.692,9.824\
            s152.051,6.213,204.525,5.844s156.652,18.337,198.567,29.594s141.96,35.926,180.684,44.731s92.904,7.814,133.958,5.978\
            S2134,490.25,2134,490.25')
            path.CVfepsrl_12(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-3.25,517.453c0,0,73.674-24.138,122.083-43.712\
            s123.007-45.933,166.333-54.449s97.014-10.57,143.928-3.9s79.869,19.086,116.759,42.856s48.261,31.349,85.969,39.304\
            s106.375,10.324,157.799-0.405s149.91-44.73,177.08-52.116s82.881-21.395,111.849-26.354s54.638-5.671,75.969-2.311\
            s41.556,9.174,101.792,7.723s117.584,3.044,151.896,5.28s154.545,6.024,207.626,11.391s104.335,13.396,146.353,24.672\
            s127.919,38.45,157.518,45.345s73.338,12.389,118.733,11.871s98.063-5.193,98.063-5.193')
            path.CVfepsrl_13(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.31,544.86c0,0,150.88-59.115,202.114-77.914\
            s108.517-35.897,189.106-30.922s116.604,25.465,140.617,42.436s52.376,34.925,95.423,39.773s100.116,8.971,170.226-9.487\
            s161.759-51.246,228.339-63.176s75.825-13.03,119.402-8.465s86.245,8.412,134.164,3.653s110.871,4.36,132.376,6.793\
            s89.006-0.975,125.008,2.385s108.498,15.063,151.212,23.84s110.626,24.109,181.021,43.677s109.805,28.794,173.314,29.637\
            s93.737-2.09,93.737-2.09')
            path.CVfepsrl_14(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-4.5,568.845c0,0,132.048-55.829,184.664-74.018\
            s113.039-33.727,170.146-34.539s107.867,7.752,139.844,24.753s45.607,37.601,83.7,46.046s107.413,15.024,161.083,4.431\
            s165.626-45.346,227.229-59.352s102.705-24.135,144.01-21.137s69.136,7.896,124.291,3.384s116.349-3.813,160.688,0.56\
            s131.686,3.251,212.583,19.023s186.938,37.128,234.002,51.698s109.181,34.571,174.47,39.418s122.54,3.389,122.54,3.389')
            path.CVfepsrl_15(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-3.25,595c0,0,124.587-55.026,160.207-69.016\
            s102.133-31.838,140.727-37.673s94.179-4.923,127.981,2.617s70.937,33.358,83.339,42.062S566.968,562.926,637.25,560\
            s148.566-24.358,213.066-41.411s132.262-32.212,172.848-39.15s79.243-2.193,102.793,0.3s89.126-1.613,138.075-6.471\
            s104.463-3.3,145.712,2.292s115.559,4.831,171.299,17.684s168.152,37.297,214.811,50.63S1940.153,581.466,1973,588\
            s159,11.685,159,11.685')
            path.CVfepsrl_16(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.32,620.11c0,0,135.827-65.964,200.99-87.12\
            s139.594-27.796,182.809-21.246s54.319,8.137,105.503,42.196s137.105,27,178.518,22.97s164.908-40.69,213.111-51.592\
            s128.873-27.728,168.548-29.772s55.029,7.728,103.008,4.086s122.968-14.682,163.662-14.573s153.337,12.928,192.004,13.352\
            s97.917,21.404,146.667,34.58s165.334,41.749,205,55.13s237.342,39.456,273.504,38.085')
            path.CVfepsrl_17(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.319,645.778\
            c0,0,107.708-59.896,169.298-79.838s108.662-29.494,160.086-28.932s73.338-0.048,119.167,28.871s64.332,40.281,133.528,36.547\
            s128.386-16.782,211.602-40.411s163.027-36.979,207.583-43.497s85.103,4.471,145.512-0.282s102.223-20.921,181.053-17.092\
            s155.867,10.358,199.214,21.056s156.374,38.906,212.938,55.741S1975,651.375,2132,654.188')
            path.CVfepsrl_18(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M0.017,667.45c0,0,125.959-65,177.483-80.667\
            s100.966-26.898,158.483-23.341s109.078,51.136,139.285,56.754s131.551,10.954,211.728-12.083s189.093-54.998,272.548-66.306\
            s116.263,3.149,171.556-2.69s112.316-19.896,150.857-20.74s163.742,2.506,224.944,16.647s156.85,46.585,189.634,57.828\
            s170.146,52.259,226.819,61.335S2132,680.796,2132,680.796')
            path.CVfepsrl_19(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.32,690c0,0,119.626-72.83,214.473-89.665\
            s123.822-11.779,154.291,4.33s55.857,57.355,166.587,44.587s233.468-55.198,292.925-67.461s139.341-25.725,182.046-25.092\
            s73.572,9.053,132.999-1.042s134.481-24.62,205.992-18.902s122.92,4.418,204.8,32.09s223.437,75.667,295.072,95.161\
            S2134,705.91,2134,705.91')
            path.CVfepsrl_20(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M0.014,711.243c0,0,106.468-70.659,212.477-86.201\
            s145.558,23.086,165.496,34.818s115.799,29.242,221.278,1.016s263.257-71.081,316.739-77.845s93.888-6.434,158.942-2.732\
            s133.549-19.742,175.054-24.676s132.313-8.749,191.652,3.082s154.558,47.629,210,66.321S1825.24,689.668,1934,705.91\
            s196.665,26.525,196.665,26.525')
            path.CVfepsrl_21(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M-1.317,728.664c0,0,120.767-69.21,197.72-75.296\
            s108.746-0.126,124.684,13.901s39.931,43.166,121.668,35.418s129.546-14.843,225.142-42.526s214.106-61.66,279.097-62.257\
            s122.679,9.06,201.081-6.504s144.129-28.688,220.454-22.045s113.716,12.282,195.537,43.427s168.788,65.538,258.611,93.128\
            s305.817,48.705,309.32,51.147')
            path.CVfepsrl_22(fill='none', stroke='#E83B36', stroke-width='3.6', stroke-miterlimit='10', d='M0.014,753.337c0,0,47.757-52.966,170.372-69.651\
            s117.978,21.247,158.455,32.821s156.498,27.989,285.339-17.475s203.871-71.659,300.846-78.346s145.372,4.343,237.21-10.813\
            S1298.052,581.032,1340.5,584s106.086,0.57,266.793,68.785s303.048,97.318,384.658,110.047s140.05,20.727,140.05,20.727')
            style.
              .CVfepsrl_0{stroke-dasharray:2210 2212;stroke-dashoffset:2211;animation:CVfepsrl_draw 2900ms ease-in-out 0ms forwards;}.CVfepsrl_1{stroke-dasharray:0 2;stroke-dashoffset:1;animation:CVfepsrl_draw 2900ms ease-in-out 4ms forwards;}.CVfepsrl_2{stroke-dasharray:2206 2208;stroke-dashoffset:2207;animation:CVfepsrl_draw 2900ms ease-in-out 9ms forwards;}.CVfepsrl_3{stroke-dasharray:2202 2204;stroke-dashoffset:2203;animation:CVfepsrl_draw 2900ms ease-in-out 13ms forwards;}.CVfepsrl_4{stroke-dasharray:2200 2202;stroke-dashoffset:2201;animation:CVfepsrl_draw 2900ms ease-in-out 18ms forwards;}.CVfepsrl_5{stroke-dasharray:2196 2198;stroke-dashoffset:2197;animation:CVfepsrl_draw 2900ms ease-in-out 22ms forwards;}.CVfepsrl_6{stroke-dasharray:2198 2200;stroke-dashoffset:2199;animation:CVfepsrl_draw 2900ms ease-in-out 27ms forwards;}.CVfepsrl_7{stroke-dasharray:2191 2193;stroke-dashoffset:2192;animation:CVfepsrl_draw 2900ms ease-in-out 31ms forwards;}.CVfepsrl_8{stroke-dasharray:2264 2266;stroke-dashoffset:2265;animation:CVfepsrl_draw 2900ms ease-in-out 36ms forwards;}.CVfepsrl_9{stroke-dasharray:2197 2199;stroke-dashoffset:2198;animation:CVfepsrl_draw 2900ms ease-in-out 40ms forwards;}.CVfepsrl_10{stroke-dasharray:2197 2199;stroke-dashoffset:2198;animation:CVfepsrl_draw 2900ms ease-in-out 45ms forwards;}.CVfepsrl_11{stroke-dasharray:2196 2198;stroke-dashoffset:2197;animation:CVfepsrl_draw 2900ms ease-in-out 50ms forwards;}.CVfepsrl_12{stroke-dasharray:2198 2200;stroke-dashoffset:2199;animation:CVfepsrl_draw 2900ms ease-in-out 54ms forwards;}.CVfepsrl_13{stroke-dasharray:2195 2197;stroke-dashoffset:2196;animation:CVfepsrl_draw 2900ms ease-in-out 59ms forwards;}.CVfepsrl_14{stroke-dasharray:2197 2199;stroke-dashoffset:2198;animation:CVfepsrl_draw 2900ms ease-in-out 63ms forwards;}.CVfepsrl_15{stroke-dasharray:2194 2196;stroke-dashoffset:2195;animation:CVfepsrl_draw 2900ms ease-in-out 68ms forwards;}.CVfepsrl_16{stroke-dasharray:2194 2196;stroke-dashoffset:2195;animation:CVfepsrl_draw 2900ms ease-in-out 72ms forwards;}.CVfepsrl_17{stroke-dasharray:2197 2199;stroke-dashoffset:2198;animation:CVfepsrl_draw 2900ms ease-in-out 77ms forwards;}.CVfepsrl_18{stroke-dasharray:2196 2198;stroke-dashoffset:2197;animation:CVfepsrl_draw 2900ms ease-in-out 81ms forwards;}.CVfepsrl_19{stroke-dasharray:2203 2205;stroke-dashoffset:2204;animation:CVfepsrl_draw 2900ms ease-in-out 86ms forwards;}.CVfepsrl_20{stroke-dasharray:2198 2200;stroke-dashoffset:2199;animation:CVfepsrl_draw 2900ms ease-in-out 90ms forwards;}.CVfepsrl_21{stroke-dasharray:2203 2205;stroke-dashoffset:2204;animation:CVfepsrl_draw 2900ms ease-in-out 95ms forwards;}.CVfepsrl_22{stroke-dasharray:2204 2206;stroke-dashoffset:2205;animation:CVfepsrl_draw 2900ms ease-in-out 100ms forwards;}@keyframes CVfepsrl_draw{100%{stroke-dashoffset:0;}}@keyframes CVfepsrl_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}


    div.wrapper

    if development
      script(src=`/main${hash}.js`, type="text/javascript", async)
    else
      script(src=`main${hash}.js`, type="text/javascript", async)

    //- unless development
    //-   script.
    //-     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //-     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //-     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //-     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //- 
    //-     ga('create', `${GATrackingCode}`, 'auto');
    //-     ga('send', 'pageview');
